<div class="container">
    <h1>Login</h1>
    
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="name"  placeholder="User name">
        </div>

        <div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="password"  placeholder="Password">
        </div>
        <div>
          <nav>
            <a (click)="login()">Login</a>
            <a (click)="newaccount()">Create Account</a>
          </nav>
        </div>
        <div class="alert alert-light" role="alert">
            {{message}}
        </div>
  <app-create-account *ngIf="showCreateAccount"></app-create-account>
  <app-home-screen *ngIf = "showHomeScreen"></app-home-screen>
</div>

