<h1>{{message}}</h1>
<nav>
  <a (click) = "toggleEditor('create')"> Create quiz</a>
  <a (click) = "toggleEditor('indiviual')"> Study Cards Individually </a>
  <a (click) = "toggleEditor('list')">Study List of Cards </a>
  <a (click) = "toggleEditor('login')">Login</a>
  <a (click) = "toggleEditor('seeMarked')">Marked Cards</a>
</nav>
<app-create-set *ngIf = "showCreate"> </app-create-set>
<app-single-card *ngIf = "showIndiviual"></app-single-card>
<app-view-subject *ngIf="showList"></app-view-subject>
<app-login *ngIf="showLogin"></app-login> 
<app-marked-cards *ngIf = "showMarked"></app-marked-cards>